
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color: #ededed; 
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #1f1f1f;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #333;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #8a2be2; 
}


#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(21, 21, 21);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    justify-content: center;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    font-size: 3rem;
    cursor: pointer;
}

button:hover{
    background:  rgb(92, 92, 92);
}

button:active{
    background: rgb(106, 53, 170);
}

.operator-btn{
    background-color: rgb(106, 53, 170);
}
.operator-btn:hover{
    background-color: rgb(149, 75, 240);
}
.operator-btn:active{
    background-color: rgb(102, 52, 163);
}
