
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: #121212;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.menu {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    z-index: 999;
}

#menu {
    background-color: #232323;
    padding: 20px;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(21, 21, 21);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    justify-content: center;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    font-size: 3rem;
    cursor: pointer;
}

button:hover{
    background:  rgb(92, 92, 92);
}

button:active{
    background: rgb(106, 53, 170);
}

.operator-btn{
    background-color: rgb(106, 53, 170);
}
.operator-btn:hover{
    background-color: rgb(149, 75, 240);
}
.operator-btn:active{
    background-color: rgb(102, 52, 163);
}
